@import '../styles/colors.scss';

.card {
	.container {
		padding: 0;
		.collapsed {
			height: 0;
			overflow: hidden;
		}
	}

	&_graph {
		background: white;

		padding: 25px;
		text-align: center;
		border-radius: 5px;
		margin-bottom: 15px;
		min-height: 210px;
		overflow: hidden;
		transition: background linear 500ms;
	}

	&_graph_updated {
		background: #f3fffd;
		transition: background linear 500ms;
	}

	&_highlight {
		font-size: 40px;
		// color: $main;
		font-weight: bold;
	}
	&_highlight_2 {
		font-size: 30px;
		// color: $main;
		font-weight: bold;
	}
	&_title {
		margin-bottom: 0px;
		color: #444;
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 5px;
	}

	&_subtitle {
		margin-bottom: 0px;
		font-size: 14px;

		&_highlight {
			margin-bottom: 0px;
			// color: $main;
			font-weight: bold;
		}
	}

	&_chart {
		overflow-x: scroll;
	}
}

@media screen and (min-width: 1040) {
	.card {
		&_chart {
			overflow-x: hidden;
		}
	}
}
