.card {
	&_graph {
		background: white;
		padding: 30px 15px;
		text-align: center;
		border-radius: 5px;
		margin: 15px 0px;
		min-height: 225px;
		.counter {
			font-size: 50px;
			color: var(--foreground);
			font-weight: bold;
		}

		&_title {
			margin-bottom: 0px;
			color: #444;
			font-weight: bold;
			font-size: 15px;
			margin-bottom: 5px;
		}

		&_subtitle {
			margin-bottom: 0px;
			font-size: 13px;

			&_counter {
				margin-bottom: 0px;
				font-size: 14px;
				color: var(--foreground);
				font-weight: bold;
			}
		}
	}
}
