.datepicker {
	appearance: none;
	background: none;
	border: none;
	font-weight: 400;
	color: #444444;
	vertical-align: middle;
	line-height: 12px;

	svg {
		fill: var(--foreground);
		display: inline;
		vertical-align: middle;

		&:hover {
			fill: scale-color(#01ae97, $blackness: 35%); // #81717fd;
			display: inline;
			vertical-align: middle;
		}
	}

	&:first-child {
		svg {
			transform: rotate(180deg);
		}
	}
	&:disabled {
		opacity: 0.3;

		svg {
			fill: #ddd;
		}
	}
}
