.footer {
	background-color: white;
	height: 80px;
	display: flex;
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		justify-content: space-between;

		ul {
			padding: 0;
			margin: 0;
		}

		a {
			color: inherit;
		}

		li,
		p {
			display: inline-block;
			margin: 0px;
			text-align: left;
			font-weight: bold;
			font-size: 13px;
			color: #444444;
			&:last-child {
				margin-right: 0px;
			}

			&.update {
				font-weight: 400;
				margin-top: 5px;
			}
		}
		li {
			margin-right: 15px;
		}
	}
	.logo {
		color: var(--foreground);
		font-weight: 900;
		text-transform: uppercase;
		font-size: 20px;
		margin: 0;
	}
}

p.update {
	font-weight: 400;
	margin-top: 5px;
}
