.header {
	background-color: white;
	height: 80px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	.content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		ul {
			padding: 0;
			margin: 0;
		}

		a {
			color: inherit;
		}

		li {
			display: inline-block;
			margin: 0px 15px;
			font-weight: bold;
			font-size: 15px;
			color: #444444;
			&:last-child {
				margin-right: 0px;
			}
		}
	}
	.logo {
		color: var(--foreground);
		font-weight: 900;
		text-transform: uppercase;
		font-size: 20px;
		margin: 0;
	}
}
