@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import 'colors.scss';

:root {
	--foreground: $main;
	--shade: $shade;
	--tint: $tint;
}

html,
body {
	padding: 0;
	margin: 0;
	/* background-color: #FBFBFB; */
}

h2 {
	text-transform: uppercase;
	//font-weight: 300 !important;
	font-size: 13px !important;
}
.scrollable {
	overflow-x: scroll !important;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.app {
	min-height: 80vh;
}

hr {
	margin-bottom: 6px;
	margin-top: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.counterRow .card-shadow {
	// border: 1px solid rgba(0, 0, 0, 0.1);
	/* box-shadow: 0px 0px 5px 0px #0000000d; */

	padding-right: 8px !important;
	padding-left: 8px !important;
	border-right: 1px solid #eeeeee;
	border-radius: 0px;
}

.card-shadow-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	/* box-shadow: 0px 0px 5px 0px #0000000d; */
}

a:hover {
	text-decoration: none;
	color: $main;
}

.mouse-pointer {
	cursor: pointer;
}

button.toggle_button {
	/* color: $tint; */
	border: none;
	background-color: white;
	/* border-bottom: 1px solid $tint; */
	border-bottom: 1px solid #eee;
	padding: 5px 15px;
	-moz-transition: all 200ms;
	transition: all 200ms;
	font-size: 13px;
}

.toggle_button.active {
	border-bottom-color: $main;
	/* color: $main; */
}

.toggle_button:hover {
	border-bottom-color: $shade;
	color: $shade;
}

.toggle_buttons {
	text-align: left;
	display: inline-block;
	margin-bottom: 20px;

	p {
		margin-bottom: 0px;
	}
}

.subchart-data p {
	font-weight: bold;
	font-size: 13px;
	text-align: left;
}

.legends {
	font-size: 12px;
	text-align: left;
}

.legend {
	margin-right: 10px;
}

span.color_sample {
	width: 40px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	box-sizing: border-box;
}

.vaccine-label {
	text-align: right;
	font-size: 12px;
	line-height: 55px;
}

sup.new {
	text-transform: uppercase;
	font-weight: 900;
	color: $main;
	font-size: 10px;
}

.hide-except-seo {
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

[class*='col-'] {
	padding: 0;
}

.leaflet-container {
	background-color: #62c3ff;
	border-radius: 5px;
}

.leaflet-control-attribution {
	display: none;
}

.info {
	padding: 6px 8px;
	font-size: 14px;
	background: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 20px;
	color: #555;
	p {
		font-size: 12px;
		margin-bottom: 0px;
		line-height: 25px;
		text-align: left;
	}
	i {
		width: 25px;
		height: 25px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 6px;
		margin-bottom: -3px;
	}
}

.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 5px;
}

.leaflet-popup-content {
	margin: 0px;
	padding: 8px;
	line-height: 1.6;
}

.leaflet-popup-content p {
	margin: 0px 0;
}

.col-lg-6:last-child h2,
.col-lg-6:last-child h3 {
	padding: 0px;
}

.hide_mobile {
	display: none !important;
}

.show_mobile {
	display: none !important;
}

.popup-content {
	width: 90vw !important;
}
/* Extra small devices (portrait phones, less than 576px) */
/*  No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.container {
		max-width: 95vw;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.container {
		max-width: 90vw;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1090px) {
	.counterRow .col-12 div {
		padding-right: 0px;
		border: 0;
	}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.scrollable {
		overflow-x: hidden;
	}
	.container {
		max-width: 90vw;
	}

	.row {
		margin-bottom: 15px;
	}

	.counterRow .col-lg-4:last-child div {
		padding-right: 0px;
		border: 0;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.container {
		max-width: 90vw;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 900px) {
	body {
		padding-bottom: 95px;
	}
}

@media (max-width: 424px) {
	.container {
		max-width: 1520px;
	}

	.hide_micro_mobile {
		display: none;
	}

	.show_micro_mobile {
		display: initial;
	}
}

@media (min-width: 425px) {
	.container {
		max-width: 1520px;
	}

	.hide_micro_mobile {
		display: initial;
	}

	.show_micro_mobile {
		display: none;
	}
}
