@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import 'colors.scss';

:root {
	--foreground: $main;
	--shade: $shade;
	--tint: $tint;
}

html,
body {
	padding: 0;
	margin: 0;
	/* background-color: #FBFBFB; */
}

.scrollable {
	overflow-x: scroll !important;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.row {
	margin-bottom: 20px;
}

.card-shadow {
	border: 1px solid rgba(0, 0, 0, 0.1);
	/* box-shadow: 0px 0px 5px 0px #0000000d; */
}

.card-shadow-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	/* box-shadow: 0px 0px 5px 0px #0000000d; */
}

a:hover {
	text-decoration: none;
	color: $main;
}

.mouse-pointer {
	cursor: pointer;
}

button.toggle_button {
	color: $tint;
	border: none;
	background-color: white;
	border-bottom: 1px solid $tint;
	padding: 5px 15px;
	-moz-transition: all 200ms;
	transition: all 200ms;
	font-size: 13px;
}

.toggle_button.active {
	border-bottom-color: $main;
	color: $main;
}

.toggle_button:hover {
	border-bottom-color: $shade;
	color: $shade;
}

.toggle_buttons {
	text-align: left;
	margin-bottom: 15px;
}

.subchart-data p {
	font-weight: bold;
	font-size: 13px;
	text-align: left;
}

.legends {
	font-size: 12px;
	text-align: left;
}

.legend {
	margin-right: 10px;
}

span.color_sample {
	width: 40px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	box-sizing: border-box;
}

.vaccine-label {
	text-align: right;
	font-size: 12px;
	line-height: 55px;
}

sup.new {
	text-transform: uppercase;
	font-weight: 900;
	color: $main;
	font-size: 10px;
}

/* Extra small devices (portrait phones, less than 576px) */
/*  No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.container {
		max-width: 95vw;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.container {
		max-width: 90vw;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.scrollable {
		overflow-x: hidden;
	}
	.container {
		max-width: 90vw;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.container {
		max-width: 80vw;
	}
}

/* XXL large devices (large desktops, 1920  and up)*/
@media (min-width: 1921px) {
	.container {
		max-width: 1520px;
	}
}
