.datepickerRow {
	margin-top: 20px;
	margin-bottom: 20px;
}

.link {
	border-bottom: 2px solid var(--foreground);
}

.sources_block {
	padding: 20px 15px;
}

.title {
	font-weight: bold;
	color: #444;
	font-size: 15px;
	margin-bottom: 11px;
}

.text {
	color: #444;
	font-size: 15px;
	line-height: 28px;
}

.alert {
	border-radius: 5px;
	font-family: 'Courier New', Courier, monospace;
	padding: 15px 5px;
	width: 100vw;
	p {
		margin: 0px;
		font-size: 13px;
		line-height: 20px;
	}

	&_fill {
		color: white;
		margin: 0px;
		border-radius: 0px;
		background-color: var(--foreground);
		border-bottom: 0px;
		font-weight: 500;
	}
}
